body #logo {
  width: 175px;
}
body .facet-date {
  margin-top: 150px;
}
body.node-type-webform h1#page-title:before {
  width: 56px;
  height: 56px;
  background-size: 100%;
}
body.node-type-webform #content .region-content .node-webform .webform-client-form > div > .form-item {
  width: 420px;
}
body.node-type-webform #content .region-content .node-webform .webform-client-form > div > .form-item label {
  position: relative !important;
  clip: auto;
  overflow: visible;
  height: auto;
  font-size: 12px;
  color: #888;
  font-style: italic;
  margin-bottom: 5px;
}
body.node-type-webform #content .region-content .node-webform .webform-client-form > div > .form-item.webform-component-select select {
  width: 100%;
  margin: 0;
  padding: 0;
}
body.node-type-webform #content .region-content .node-webform .webform-client-form > div > .form-item input.form-text {
  width: 420px;
}
body #content .panel-dns-2col .panel-col-content .leftside .content {
  padding: 0 50px 50px 0;
  width: 100%;
}
