//ie8.scss

body {
  #logo {
    width: 175px;
  }
  .facet-date {
    margin-top: 150px;
  }
  &.node-type-webform h1#page-title:before {
    width: 56px;
    height: 56px;
    background-size: 100%;
  }
  &.node-type-webform #content .region-content .node-webform .webform-client-form > div > .form-item {
    width: 420px;
    label {
      position: relative !important;
      clip: auto;
      overflow: visible;
      height: auto;
      font-size: 12px;
      color: #888;
      font-style: italic;
      margin-bottom: 5px;
    }
    &.webform-component-select {
      select {
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
    input.form-text {
      width: 420px;
    }
  }
  #content .panel-dns-2col .panel-col-content .leftside .content {
    padding: 0 50px 50px 0;
    width: 100%;
  }
}