/**
 * BASIC STYLING
 */

body {
  color: $clr-text;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  font-size: 16px;
}

p + p {
  margin: 1.5em 0;
}

table {
  tbody {
    border-top: 0;
  }
  td, th {
    padding: 0.25em 0.625em;
  }
}
