@charset "UTF-8";

label {
  @include form-label;
  &.error {
    color: $clr-error;
  }
}

input.form-text,
textarea.form-textarea {
  @include form-text;
  &.error {
    border: 1px solid $clr-error;
  }
}


.form-item {
  margin: 1em 0;
  label {
    margin-left: 0;
  }
  .description {
    color: $clr-text-faded;
    clear: both;
    margin-top: 5px;
    font-style: italic;
  }
  input,
  textarea,
  select {
    font-size: 16px;
    padding: 0.25em 0.625em;
    &:focus {
      border: 1px solid $clr-form-input-focus-border;
      outline: none;
    }
  }
  // Search
  &.form-type-search {
    @include clearfix;
    .form-text,
    .form-submit {
      height: 2.25em;
      float: left;
      display: block;
      font-size: 1.25em;
    }
    .form-text {
      border: 1px solid $clr-form-search-input-border;
      background-color: $clr-form-search-input-background;
      padding: 0.5em;
    }
    .form-submit {
      padding: 0.5em 1em;
      background-color: $clr-form-search-button-background;
      &:hover {
        background-color: $clr-form-search-button-background-hover;
      }
    }
  }
  &.form-type-checkbox,
  &.form-type-radio {
    label {
//      margin-left: 0;
    }
  }
}

.form-submit {
  @include button-secondary;
  &.image {
    text-indent: -999px;
    width: 40px;
    background: url(../images/whoisbutton.png) no-repeat center;
  }
}


.form-managed-file input.form-submit { // Ajax upload file fields
  @include button-secondary();
//  background-color: $clr-form-button-default-background;
//  font-size: 14px;
}

html.js input.form-autocomplete {
  background-position: 99% -50%;
}



/**
* CUSTOM CHECKBOX & RADIOS
*/
.form-item.form-type-checkbox,
.form-item.form-type-radio {
  position: relative;
  overflow: hidden;
  input {
    width: 18px;
    height: 18px;
    margin: 3px;
    padding: 0;
    border: 1px solid transparent;
    opacity: 0;
    position: absolute;
    left: -1000px;
  }
  label {
    margin-left: 25px;
    line-height: 22px;
  }
  label:before {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    content: '';
    display: block;
  }
  input:focus + label:before {
    border: 1px solid $clr-form-input-focus-border;
  }
}
// Custom checkboxes
.form-type-checkbox {
  label:before {
    width: 14px;
    height: 14px;
    border: 1px solid $clr-form-input-default-border;
    background-color: $clr-form-input-default-background;
    background-color: transparent;
    float: left;
    margin-top: 2px;
  }
  input:checked + label:before {
    content: '✔';
    color: $clr-form-input-checked-text;
  }
  // IE8 stuff... can't go after a comma with the previous. Reasons unknown...
  input.checked + label:before {
    content: '✔';
    color: $clr-form-input-checked-text;
  }
  input.error + label:before {
    border-color: $clr-error;
  }

}
input.checked + label {
  background-color: white;
}

// Custom radios
.form-type-radio {
  label:before {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    border-radius: 50%;
    border: 1px solid $clr-form-input-default-border;
    background-color: $clr-form-input-default-background;
    box-shadow: 0 0 0 1px $clr-form-input-default-background inset;
    float: left;
  }
  input:checked + label:before {
    background-color: $clr-form-input-checked-background;
  }
  // IE8 stuff... can't be grouped with the previous. Reasons unknown...
  input.checked + label:before {
    background-color: $clr-form-input-checked-background;
  }
  input.error + label:before {
    border-color: $clr-error;
  }
}






/**
* CUSTOM FORM FILE & SELECT
*/
.cff-container {
  min-width: 100px;
  position: relative;
  overflow: hidden;
}

.cff-input:focus + .cff-replacement,
.cff-input:active + .cff-replacement {
  border: 1px solid $clr-form-input-focus-border;
}

// Custom file
.cff-file {
  float: left;
  margin-right: 5px;

  .cff-replacement {
    font-size: 16px;
    line-height: 26px;
    height: 26px;
    border: 1px solid $clr-form-input-default-border;
    background: #fff;
    cursor: pointer;
    box-sizing: border-box;
  }

  .cff-input {
    position: absolute;
    top: -100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  .cff-feedback {
    display: block;
    color: #626971;
    padding: 0 1ex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cff-button {
    @include button-secondary();
    float: right;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    padding: 0 1ex;
    position: relative;
    top: -1px;
    right: -1px;
  }

  .cff-hover .cff-button, .cff-focus .cff-button {
    color: #111;
    background: #aaa;
  }

  .cff-focus .cff-button {
    outline: 1px dotted #ccc;
  }
}

// Custom select
.cff-select {
  height: 26px;

  .cff-replacement {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $clr-form-input-default-border;
    background-color: $clr-form-input-default-background;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .cff-feedback {
    display: block;
    padding: 0 1ex;
    height: 26px;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }

  .cff-button {
    @include button-secondary();
    float: right;
    height: 26px;
    line-height: 26px;
    text-align: center;
    padding: 0 1ex;
    position: relative;
    top: -1px;
    right: -1px;
    &:before {
      content: '▼';
    }
  }

  .cff-input {
    position: absolute;
    height: 28px;
    width: 100%;
    box-sizing: border-box;
    z-index: 20;
    display: block;
    -webkit-appearance: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  .cff-input:focus {
    outline: none;
    border: none !important;
  }
}


.container-inline {
  div,
  .form-submit
  {
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
  }
}
