@charset "UTF-8";

@mixin font($size) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $size;
}

/**
 * BASIC ELEMENTS
 */
@mixin h1() {
  font-size: 18px;
  font-weight: normal;
  color: $clr-blue-dark;
  text-transform: uppercase;
}

@mixin h2() {
  font-size: 16px;
  font-weight: normal;
  color: $clr-blue-dark;
  text-transform: uppercase;
}

@mixin h3() {

}

/**
 * TYPOGRAPHY
 */
.type-header {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $clr-blue-dark;
}

.type-readmore {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  &:after {
    content: ' ⟩'; // ❯ ❭
  }
}

@mixin type-body-base {
  font-size: 16px; // Mobile first
  line-height: 1.425;
  color: $clr-text;
  @include md {
    font-size: 14px;
  }
}

@mixin type-subtitle {
  @include type-body-base();
  font-weight: bold;
}

@mixin type-faded {
  @include type-body-base();
  color: $clr-text-faded;
}

@mixin type-comments {
  @include type-body-base;
  font-style: italic;
}



/**
 * FORMS
 */
@mixin form-input-text {
  border: 1px solid $clr-form-input-default-border;
}

@mixin form-textarea {

}

@mixin form-label {
  color: $clr-form-label;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

@mixin form-text {
  border: 1px solid $clr-form-input-default-border;
}

@mixin form-placeholder {
  color: $clr-form-placeholder;
}



/**
 * RESPONSIVE MIXINS
 * Mobile first
 */
@mixin lg {
  @media screen and (min-width: $res-lg) {
    @content;
  }
}
@mixin md {
  @media screen and (min-width: $res-md) {
    @content;
  }
}
@mixin sm {
  @media screen and (min-width: $res-sm) {
    @content;
  }
}



/**
 * DRUPAL LAYOUT HELPERS
 */

// HORIZONTAL LIST (FLOAT)
@mixin menu-horizontal($margin: 5px, $direction: left) {
  li.leaf {
    list-style: none;
    float: $direction;
    margin-left: $margin;
    margin-right: $margin;
    @if $direction == right {
      &.first { margin-right: 0; }
      &.last  { margin-left: 0; }
    }
    @else {
      &.first { margin-left: 0; }
      &.last  { margin-right: 0; }
    }
  }
}
// RESET MENU STYLE
@mixin menu-nostyle() {
  li.expanded,
  li.leaf {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}



/**
 * DESIGN
 */
.bg-stripe {
  background-image: url('../images/pattern-diag-blue.png');
  background-repeat: repeat;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

@mixin icon {
  display: block;
  width: 55px;
  height: 55px;
  border: 1px solid $clr-blue-brighter;
  color: $clr-blue-brighter;
}

@mixin date-before-text() {
  color: $clr-text-faded;
  float: left;
  position: relative;
  margin-right: 12px;
  margin-top: 0;
  &:after {
    content: " - ";
    position: absolute;
    right: -8px;
    top: 0;
  }
}

@mixin read-more() {
  a {
    font-weight: bold;
    position: relative;
    @include md {
      font-size: 0.857em;
    }
    &:after {
      position: absolute;
      content: "";
      background: url(../images/readmore_arrow.png) no-repeat;
      width: 5px;
      height: 8px;
      right: -12px;
      top: 3px;
    }
    &:hover:after {
      background-position: 0 -8px;
    }
  }
}

@mixin remove-formatting {
  u {
    text-decoration: none;
  }
  em {
    font-style: normal;
  }
  strong {
    font-weight: normal;
  }
}


/**
 * BUTTONS
 */
@mixin button-navigation {
  padding: 1em 1.25em;
  font-size: 15px;
  font-weight: 700;
  color: $clr-button-navigation-text;
  background-color: $clr-button-navigation-background;
  &:hover {
    color: $clr-button-navigation-text-hover;
    background-color: $clr-button-navigation-background-hover;
  }
}

@mixin button-primary {
  border: none;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: $clr-button-primary-text;
  &:hover {
    color: $clr-button-primary-text-hover
  }
}

@mixin button-secondary() {
  border: none;
  padding: 0.5em 1em;
  //  line-height: 2.6;
  //  padding: 0 1em;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: $clr-button-secondary-text;
  background-color: $clr-button-secondary-background;
  &:hover {
    color: $clr-button-secondary-text-hover;
    background-color: $clr-button-secondary-background-hover;
  }
}

/**
 * NAVIGATION
 */
@mixin nav-level1-font {
  font-size: 18px;
  font-weight: 400;
  color: $clr-navigation-level1-text;
  &:hover {
    font-weight: 700;
    color: $clr-navigation-level1-text-hover;
  }
}

@mixin nav-level2-font {
  font-size: 15px;
  font-weight: 400;
  color: $clr-navigation-level2-text;
  &:hover {
    font-weight: 700;
    color: $clr-navigation-level2-text-hover;
  }
}

// todo: What will this be used for? //02a
@mixin nav-level3-font-active {
  font-size: 17px;
  font-weight: 700;
}

@mixin nav-breadcrumb-font {
  font-size: 12px;
  color: $clr-navigation-breadcrumb-text;
}

@mixin hide-text() {
  /* Zeldman's image replacement technique */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin image-crisp() {
  image-rendering: -moz-crisp-edges;
  image-rendering:   -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
