@charset "UTF-8"; // Needed for weird characters inside the stylesheets (cfr content:)

/**
 * STYLEGUIDE FOR DNS FOR SEMANTIC PURPOSES
 * THESE ARE JUST GUIDELINES. CURRENTLY NOT TO BE USED IN PRODUCTION WEBSITES.
 * CHECK THE DEMO @ ../styleguide/demo.html
 */
@import "variables";
@import "reset/mixins";
@import "reset/normalize";
@import "reset/bootstrap";
//@import "reset/forms";
@import "mixins";
@import "elements";
@import "forms";


html {
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
}

// TYPOGRAPHY
body {
  @include type-body-base;
}

.type-big {
  font-size: 125%;
}


/**
 * DEMO-STUFF
 */
* {
  box-sizing: border-box;
}
.demo-body {
  margin-top: 2em;
}
.demo-wrapper {
  max-width: 980px;
  margin: 0px auto;
}

.demo-box,
.demo-title {
  padding: 1em;
  border: 3px lightgrey solid;
}

.demo-title {
  background-color: lightgrey;
  color: darken(lightgrey, 30%);
  text-align: right;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 2em;
}
