/**
 * VARIABLES
 * Prefix variables with semantic meaning:
 * clr: color
 * dim: dimension
 * res: resolution/responsive
 * ...
 */

// COLORS
$blueLight: #e4f0f5;

$clr-grey: #d2d9dc;
$clr-blue-dark: #005fab;
$clr-blue-bright: #009ee3;
$clr-blue-brighter: #00a4e8;
$clr-blue-border: #e0e8ec;
$clr-red-error: #e21111;


$clr-body:         #ffffff;
$clr-text:         #242424;
$clr-text-heading: #1E5FA6;

$clr-text-contrast: #005fab;
$clr-text-faded: #6b6b6b;
$clr-link:       $clr-blue-bright;
$clr-link-hover: $clr-blue-dark;
$clr-contrast:   #000000;

$clr-error: $clr-red-error;

$clr-button-navigation-background: #d9e5eb;
$clr-button-navigation-background-hover: #f6fafb;
$clr-button-navigation-text: #1e5fa6;
$clr-button-navigation-text-hover: #00a4e8;
$clr-button-primary-text: #00a4e8;
$clr-button-primary-text-hover: #1e5fa6;
$clr-button-secondary-background: #00a4e8;
$clr-button-secondary-background-hover: #1e5fa6;
$clr-button-secondary-text: #ffffff;
$clr-button-secondary-text-hover: #ffffff;

$clr-sidebar-background: #f7f7f7;
$clr-sidebar-text-faded: #bcbcbc;

$clr-top-bg: $clr-blue-bright;

$clr-form-label: #005fab;
$clr-form-label-error-text: $clr-red-error;
$clr-form-placeholder: #c7d0d4;
$clr-form-input-default-border: #5485bc;
$clr-form-input-default-background: #ffffff;
$clr-form-input-focus-background: #ffffff;
$clr-form-input-focus-border: #00a1e0;
$clr-form-input-error-background: #ffffff;
$clr-form-input-error-border: $clr-red-error;
$clr-form-input-checked-text: $clr-form-input-default-border;
$clr-form-input-checked-border: $clr-form-input-default-border;
$clr-form-input-checked-background: $clr-form-input-default-border;
$clr-form-button-default-background: #00a1e0;
$clr-form-button-default-text: #ffffff;
$clr-form-search-input-background: #e9ebec;
$clr-form-search-input-border: #e4e5e5;
$clr-form-search-button-background: #00a4e8;
$clr-form-search-button-background-hover: #1e5fa6;

$clr-footer-bg: $clr-grey;
$clr-footer-link: #979d9f;
$clr-footer-link-hover: $clr-blue-bright;
$clr-footer-hr: #e2e8eb;

// FONTS
$ff-heading: Arial, Helvetica, sans-serif;
$ff-body: Arial, Helvetica, sans-serif;

// RESOLUTION FOR MEDIAQUERIES
$res-lg: 980px;
$res-md: 740px;
$res-sm: 480px;









